<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!--You can leave this intact-->
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <!--tetant id e.g. contoso.onmicrosoft.com-->
    <add key="ida:Tenant" value="TODO" />
    <!--Id of the client from Active Directory -->
    <add key="ida:ClientId" value="TODO" />
    <!-- Any valid uri name e.g. http://YourService -->
    <add key="ida:RedirectUri" value="TODO" />
    <!--Appid uri for the "Service" e.g. https://contoso.onmicrosoft.com/YourService-->
    <add key="homehub:HomeHubResourceId" value="TODO" />

    <!-- Address of your service-->
    <add key="homehub:HomeHubBaseAddress" value="http://localhost:20090/" />
  </appSettings>
</configuration>