<div class="jumbotron">
    <h1>Protecting your App Service Access Rights with Active Directory Groups</h1>
    <p><a href="https://sameer.blog" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

